@use '../../../../style/mixin' as *;

.track-port {
  position: relative;
  height: 20rem;
  padding: 1rem 1rem 1rem 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 10px 10px black;
  display: flex;
  width: 15rem;
  & .btn-spotify {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  background-color: $hover-color;
  color: $bg-color;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: .6s;
  box-shadow: $neon-box-shadow;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 2px solid $hover-color;
  cursor: pointer;
  &:hover {
    color: $hover-color;
    &:before {
      width: 100%;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bg-color;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;
  }
  }

  & .btn-spotify2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  background-color: $bg-color;
  color: $hover-color;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: .6s;
  box-shadow: $neon-box-shadow;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 2px solid $hover-color;
  cursor: pointer;
  &:hover {
    color: $bg-color;
    &:before {
      width: 100%;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $hover-color;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;
  }
}
  & .track-about-ctnr {
    width: 100%;
    z-index: 1 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: bottom;
    color: white;
    & .h-ctnr {
      min-height: 5rem;
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 1.9rem;
        text-align: center;
        opacity: 1;
          -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
      }
    }

    & .playback-controls {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      h2 {
        font-size: 1rem;
        text-align: center;
        color: $hover-color;
        text-shadow: 3px 3px 2px black;
        opacity: 1;
/*         -webkit-text-stroke-width: 0.01px;
        -webkit-text-stroke-color: orange; */
      }
    }

    a {
      color: white;
      -webkit-text-stroke-width: 0.1px;
      -webkit-text-stroke-color: black;
    }
    & .devport-neon-button-ctnr {
      display: flex;
      justify-content: center;
      padding-top: 1rem;
      & .devport-neon-button {
        padding: 0.3rem 0.2rem 0.3rem 0.2rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        background-color: $bg-color;
        color: $hover-color;
        transition: .6s;
        box-shadow: $neon-box-shadow;
        border-radius: 25px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        border: 2px solid $hover-color;
        cursor: pointer;
        &:hover {
          color: $bg-color;
          &:before {
            width: 100%;
          }
        }

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          background-color: $hover-color;
          width: 0;
          height: 100%;
          z-index: -1;
          transition: .4s;
        }
      }
    }

    .track-login-href {
      text-align: center;
    }
  }
  & .track-img-ctnr {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1 !important;
    opacity: 1;

    & img {
      object-fit: cover;
      object-position: 50%;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 1000px) {
  .track-port {
    width: calc(20vw);
    height: calc(32vw);
    & .btn-spotify {

    &:hover {

      &:before {

      }
    }

    &:before {

    }
    }

    & .btn-spotify2 {

    &:hover {

      &:before {

      }
    }

    &:before {

    }
  }
    & .track-about-ctnr {

      & .h-ctnr {

        h1 {

        }
      }

      & .playback-controls {

        h2 {

        }
      }

      a {

      }
      & .devport-neon-button-ctnr {

        & .devport-neon-button {

          &:hover {

            &:before {

            }
          }

          &:before {

          }
        }
      }

      .track-login-href {

      }
    }
    & .track-img-ctnr {

      & img {

      }
    }
  }
}

@media (max-width: 750px) {

  .track-port {
    height: calc(38vw);
    & .btn-spotify {

    &:hover {

      &:before {

      }
    }

    &:before {

    }
    }

    & .btn-spotify2 {

    &:hover {

      &:before {

      }
    }

    &:before {

    }
  }
    & .track-about-ctnr {

      & .h-ctnr {

        h1 {

        }
      }

      & .playback-controls {

        h2 {

        }
      }

      a {

      }
      & .devport-neon-button-ctnr {

        & .devport-neon-button {

          &:hover {

            &:before {

            }
          }

          &:before {

          }
        }
      }

      .track-login-href {

      }
    }
    & .track-img-ctnr {

      & img {

      }
    }
  }
}

@media (max-width: 700px) {

  .track-port {
    & .btn-spotify {

    &:hover {

      &:before {

      }
    }

    &:before {

    }
    }

    & .btn-spotify2 {

    &:hover {

      &:before {

      }
    }

    &:before {

    }
  }
    & .track-about-ctnr {

      & .h-ctnr {

        h1 {

        }
      }

      & .playback-controls {

        h2 {
          font-size: 0.8rem;
        }
      }

      a {

      }
      & .devport-neon-button-ctnr {

        & .devport-neon-button {

          &:hover {

            &:before {

            }
          }

          &:before {

          }
        }
      }

      .track-login-href {

      }
    }
    & .track-img-ctnr {

      & img {

      }
    }
  }
}

@media (max-width: 650px) {

  .track-port {
    height: calc(47vw);
    & .btn-spotify {

    &:hover {

      &:before {

      }
    }

    &:before {

    }
    }

    & .btn-spotify2 {

    &:hover {

      &:before {

      }
    }

    &:before {

    }
  }
    & .track-about-ctnr {

      & .h-ctnr {

        h1 {

        }
      }

      & .playback-controls {

        h2 {

        }
      }

      a {

      }
      & .devport-neon-button-ctnr {

        & .devport-neon-button {
        font-size: 0.8rem;
          &:hover {

            &:before {

            }
          }

          &:before {

          }
        }
      }

      .track-login-href {

      }
    }
    & .track-img-ctnr {

      & img {

      }
    }
  }
}

@media (max-width: 550px) {

  .track-port {
    width: calc(40vw);
    & .btn-spotify {

    &:hover {

      &:before {

      }
    }

    &:before {

    }
    }

    & .btn-spotify2 {

    &:hover {

      &:before {

      }
    }

    &:before {

    }
  }
    & .track-about-ctnr {
      gap: 2rem;
      & .h-ctnr {

        h1 {

        }
      }

      & .playback-controls {

        h2 {

        }
      }

      a {

      }
      & .devport-neon-button-ctnr {

        & .devport-neon-button {
        font-size: 0.8rem;
          &:hover {

            &:before {

            }
          }

          &:before {

          }
        }
      }

      .track-login-href {

      }
    }
    & .track-img-ctnr {

      & img {

      }
    }
  }
}

@media (max-width: 500px) {

  .track-port {

    & .btn-spotify {

    &:hover {

      &:before {

      }
    }

    &:before {

    }
    }

    & .btn-spotify2 {

    &:hover {

      &:before {

      }
    }

    &:before {

    }
  }
    & .track-about-ctnr {
      gap: 2rem;
      & .h-ctnr {

        h1 {

        }
      }

      & .playback-controls {

        h2 {

        }
      }

      a {

      }
      & .devport-neon-button-ctnr {

        & .devport-neon-button {
        font-size: 0.8rem;
          &:hover {

            &:before {

            }
          }

          &:before {

          }
        }
      }

      .track-login-href {

      }
    }
    & .track-img-ctnr {

      & img {

      }
    }
  }
}

@media (max-width: 450px) {

  .track-port {

    & .btn-spotify {

    &:hover {

      &:before {

      }
    }

    &:before {

    }
    }

    & .btn-spotify2 {

    &:hover {

      &:before {

      }
    }

    &:before {

    }
  }
    & .track-about-ctnr {
      gap: 1rem;
      & .h-ctnr {

        h1 {

        }
      }

      & .playback-controls {

        h2 {

        }
      }

      a {

      }
      & .devport-neon-button-ctnr {

        & .devport-neon-button {

          &:hover {

            &:before {

            }
          }

          &:before {

          }
        }
      }

      .track-login-href {

      }
    }
    & .track-img-ctnr {

      & img {

      }
    }
  }
}

@media (max-width: 400px) {

  .track-port {

    & .btn-spotify {

    &:hover {

      &:before {

      }
    }

    &:before {

    }
    }

    & .btn-spotify2 {

    &:hover {

      &:before {

      }
    }

    &:before {

    }
  }
    & .track-about-ctnr {
      gap: 0.2rem;
      & .h-ctnr {

        h1 {
          font-size: 1.7rem;
        }
      }

      & .playback-controls {

        h2 {

        }
      }

      a {

      }
      & .devport-neon-button-ctnr {

        & .devport-neon-button {
          font-size: 0.8rem;
          &:hover {

            &:before {

            }
          }

          &:before {

          }
        }
      }

      .track-login-href {

      }
    }
    & .track-img-ctnr {

      & img {

      }
    }
  }
}

@media (max-width: 350px) {

  .track-port {

    & .btn-spotify {

    &:hover {

      &:before {

      }
    }

    &:before {

    }
    }

    & .btn-spotify2 {

    &:hover {

      &:before {

      }
    }

    &:before {

    }
  }
    & .track-about-ctnr {
      gap: 0.1px;
      & .h-ctnr {

        h1 {
          font-size: 1.7rem;
        }
      }

      & .playback-controls {

        h2 {

        }
      }

      a {

      }
      & .devport-neon-button-ctnr {

        & .devport-neon-button {
          font-size: 0.8rem;
          height: 2rem;
          &:hover {

            &:before {

            }
          }

          &:before {

          }
        }
      }

      .track-login-href {

      }
    }
    & .track-img-ctnr {

      & img {

      }
    }
  }
}