@use '../../../../style/mixin' as *;

.mastering-section {
    & .mastering-tabs-container {
        & input[type=radio] {
            display: none;
        }

        & .mastering-tabs-navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            & label {
                width: 40%;
                border: 1px solid black;
                cursor: pointer;
                padding: 1rem;
            }
        }
    }
}

