@use '../../../style/mixin' as *;

.project-dev {
  position: relative;
  height: 20rem;
  padding: 1rem 1rem 1rem 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 10px 10px black;
  display: flex;
    border-radius: 15px;
  & .project-about-ctnr {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    z-index: 1 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: black;
    gap: 1rem;
    h1 {
      font-size: 1.9rem;
      text-align: center;
      min-height: 30%;
      max-height: 30%;
      overflow: hidden;
    }

    & p {
      color: white;
      display: flow-root;
      overflow-y: clip;
      min-height: 30%;
      max-height: 30%;
    }
  }
  & .project-img-ctnr {
    border-radius: 15px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1 !important;
    & .img-modulator {
      position: relative;
          & img {
      object-fit: cover;
      object-position: 50%;
      width: 100%;
      height: 100%;
    }

/*    & div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
   } */
    }

  }

  & .modulator {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    top: 0;
    left: 0;
    opacity: 0.3;
    border-radius: 15px;
  }
}