@use "../../../../style/mixin" as *;

.sign-in-container {
    display: flex;
    align-items: center;
    justify-content: center;
    & .sign-in-form-section {
        flex: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            & .sign-in-input-ctnr {
            display: flex;
            flex-direction: column;
/*             align-items: center; */
            justify-content: center;
            gap: 0.1rem;
            }
        }
    }

    & .sign-in-img-section {
        flex: 50%;
        & img {
            width: 100%;
            heigth: 100%;
            object-fit: cover;
        }
    }
}