@use '../../style/mixin' as *;

.mainport-ctnr {
  padding: 1rem 2rem 2rem 2rem;
  position: relative;
  min-height: 80vh;
  width: 100%;
  & h1 {
    color: white;
    & span {
      color: $hover-color;
    }
  }
  & .mainport-background-image-ctnr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1 !important;
    & .mainport-background-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  & .mainport-portlinks-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    & h1 {
      font-size: 3rem;
    }
    & .port-link-container {
      position: relative;
      width: 70%;
      height: 15rem;
      border: solid 3px $hover-color;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
      transition: all 0.2s;
      display: flex;
      align-items: center;
      justify-content: center;
      & h1 {
        color: white;
        font-size: 3rem;
        opacity: 0.5;
      }
      &:hover {
        transform: scale(1.1);
        & h1 {
          opacity: 0.9;
        }
      }
      & .port-link-image {
        z-index: -1 !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      & .port-link-modulator {
        z-index: -1 !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
      }
    }
  }
}

@media (max-width: 1000px) {
.mainport-ctnr {
  
  & h1 {
    & span {
      
    }
  }
  & .mainport-background-image-ctnr {
   
    & .mainport-background-image {

    }
  }

  & .mainport-portlinks-container {

    & h1 {
      font-size: 2.5rem;
    }
    & .port-link-container {

      & h1 {

      }
      &:hover {

        & h1 {

        }
      }
      & .port-link-image {

      }
      & .port-link-modulator {

      }
    }
  }
}
}

@media (max-width: 670px) {
.mainport-ctnr {
  
  & h1 {
    & span {
      
    }
  }
  & .mainport-background-image-ctnr {
   
    & .mainport-background-image {

    }
  }

  & .mainport-portlinks-container {
    padding-top: 0.5rem;
    & h1 {
      font-size: 2.1rem;
    }
    & .port-link-container {

      & h1 {
        font-size: 2.2rem;
      }
      &:hover {

        & h1 {

        }
      }
      & .port-link-image {

      }
      & .port-link-modulator {

      }
    }
  }
}
}

@media (max-width: 500px) {
.mainport-ctnr {
  
  & h1 {
    & span {
      
    }
  }
  & .mainport-background-image-ctnr {
   
    & .mainport-background-image {

    }
  }

  & .mainport-portlinks-container {
    padding-top: 0.5rem;
    & h1 {
      font-size: 1.8rem;
    }
    & .port-link-container {

      & h1 {
        font-size: 2.2rem;
      }
      &:hover {

        & h1 {

        }
      }
      & .port-link-image {

      }
      & .port-link-modulator {

      }
    }
  }
}
}

@media (max-width: 450px) {
.mainport-ctnr {
  padding: 0;
  & .backlinks-component-container {
    & .backlink-container {

      & a {
      font-size: 0.9rem;
      }

      & i {
        font-size: 0.7rem !important; 
      }
    }
  }
  & h1 {
    & span {
      
    }
  }
  & .mainport-background-image-ctnr {
   
    & .mainport-background-image {

    }
  }

  & .mainport-portlinks-container {
    padding-top: 0.8rem;
    & h1 {
      font-size: 1.5rem;
    }
    & .port-link-container {

      & h1 {
        font-size: 2rem;
      }
      &:hover {

        & h1 {

        }
      }
      & .port-link-image {

      }
      & .port-link-modulator {

      }
    }
  }
}
}

@media (max-width: 400px) {
.mainport-ctnr {
  padding: 0;
  & h1 {
    & span {
      
    }
  }
  & .mainport-background-image-ctnr {
   
    & .mainport-background-image {

    }
  }

  & .mainport-portlinks-container {
    padding-top: 0.8rem;
    & h1 {
      font-size: 1.5rem;
    }
    & .port-link-container {
      height: 10rem;
      & h1 {
        font-size: 2rem;
      }
      &:hover {

        & h1 {

        }
      }
      & .port-link-image {

      }
      & .port-link-modulator {

      }
    }
  }
}
}

